.DS_Store
*/.DS_Store
palera1n/binaries/Linux/gaster
palera1n/binaries/Darwin/gaster
palera1n/work
palera1n/rdwork
palera1n/boot*
!bootlogo.im4p
palera1n/.irecovery
palera1n/BuildManifest.plist
palera1n/blobs
palera1n/tweaksinstalled
palera1n/logs
palera1n/dump.raw
palera1n/other/rootfs/jbin/loader.app
palera1n/other/rootfs/jbin/jb*
palera1n/other/rootfs/jbin/launchd
palera1n/.rd_in_progress
palera1n/logs
palera1n/.disclaimeragree
palera1n/.fs-*

tui
src/tui.*
src/tui
tmp2
tmp1
